.transaction-form-wrapper {
  max-width: 850px;
  width: 95%;
  margin-inline: auto;
  background-color: var(--color-light);
}

.transaction-form-wrapper h2 {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  padding: 30px 50px;
  border-bottom: 2px solid var(--color-gray-dark);
}

.transaction-form-groups-container {
  padding: 30px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 30px;
}

@media (width < 750px) {
  .transaction-form-groups-container {
    grid-template-columns: 1fr;
  }
}

.transaction-form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transaction-form-group label {
  font-weight: 800;
}
.transaction-form-group input {
  padding: 10px;
  border-radius: 4px;
  border: 2px solid var(--color-gray-medium);
}

.transaction-form-group select {
  padding: 10px;
  border-radius: 4px;
  border: 2px solid var(--color-gray-medium);
}

.error-message {
  color: red;
}
.transaction-form-group:has(.error-message) input {
  border: 2px solid red;
  border-color: red;
  outline-color: red;
}
.transaction-form-group:has(.error-message) select {
  border: 2px solid red;
  border-color: red;
  outline-color: red;
}

.transaction-form-buttons {
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.transaction-form-buttons button {
  font-size: 18px;
  font-weight: 700;
  padding: 14px 20px;
  border: 1px solid var(--color-gray-light);
  color: var(--color-light);
  border-radius: 5px;
  background-color: var(--color-secondary);
  min-width: 140px;
  cursor: pointer;
}

.transaction-form-buttons button[type="submit"] {
  background-color: var(--color-primary);
}

.transaction-form-buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
