.product-table-wrapper {
  position: relative;
}

.product-table-container {
  background-color: var(--color-light);
  padding: 22px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto hidden;
}
.product-table-content {
  width: 1280px;
  min-height: 300px;
}
